body {
    background-image: URL("attributes/bar-08.jpg");
    font-family: 'Barlow Condensed', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;

}

#searchButton {
    justify-content: center;
    margin-top:0px;
    margin-bottom:20px;
    background-color: rgba(154, 82, 0, 0.477);
    font-weight: bolder;
}
.flex-container {
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:990px) {
    .cardHolder { flex-wrap: wrap;  }
    .item:first-child { flex-basis: 100%; }
  }

.welcomeBar {
    color:white;
    font-size: largers;
    display:flex;
    padding-bottom: 0;
    margin-bottom:0;
    height:fit-content;
    width:fit-content;
    background-color: rgba(0, 98, 255, 0);
    margin:30px;
}
.searchBar {
    display:flex;
    font-weight: bolder;
    height:20px;
    width:200px;
    background-color: rgba(125, 67, 0, 0.537);
    color:rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5px;
}


.drinkCard { 
    border-radius: 20px;
    color:white;
    display: flex;
    flex-direction: column;
   height:fit-content;
    width:300px;
    background-color: rgba(0, 92, 150, 0.63);
    margin:10px;
}


.cardBottom {
    scale:50%;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0);
    margin:10px;
    height:400px;
    
}

.cardIngred {
    scale:50%;
    padding-top:10px;
    width:100%;
    height:10%;
    background-color: rgba(0, 133, 222, 0);
    color:white(19, 3, 3);
    font-weight:10;
    font-size:100%;
    font-size: smaller;
    text-align: center;
}

.cardInstruct {
    scale:50%;
    text-align: center;
    margin:0;
    color:white;
    width: 100%;
    height:200px;
    background-color:rgba(33, 222, 0, 0.223);
    
}

#cardContainer {
    margin-top: 0;
    padding-top:0;
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
    max-height:fit-content;
    flex-wrap: wrap;
    color:rgba(255, 255, 255, 0.889);
}



.drinkInstruct {
   
    display:none;
    
    
}

.drinkIngredMes {
   
    justify-content: center;
    border-left:solid; 
    display: flex;
    height:fit-content;
    width:100%;
    
}

